
<h1>Product List</h1>
   <p> This is a protected component </p>
 
   <div class='table-responsive'>
   <table class='table'>
       <thead>
           <tr>
               <th>Name</th>
               <th>Price</th>
               <th></th>
               <th></th>
           </tr>
       </thead>
       <tbody>
           <tr *ngFor="let product of products;">
               <td><a [routerLink]="['/product/view',product.id]">{{product.name}}</a></td>
               <td>{{product.price}}</td>
               <td><a [routerLink]="['/product/view',product.id]">View</a></td>
               <td><a [routerLink]="['/product/edit',product.id]">Edit</a></td>
               <td><button (click)="deleteProduct(product.id)">x</button></td>

           </tr>
       </tbody>
       <a [routerLink]="['/product/add']">Add</a>
     </table>
  </div>
 
  <router-outlet></router-outlet>